<div class="row text-center">
    <div class="col-12">
        <img src="https://media.giphy.com/media/IgOEWPOgK6uVa/giphy.gif" my double cheese burger"
            class="img-fluid mt-5">
    </div>
</div>

<div class="row text-center mb-5">
    <div class="col-12">
        <h1 id="burger-title" class="text-danger">Eat The burger</h1>
    </div>
</div>

<div class="row">
    <div class="col-6 burgers">
        <div class="row">
            <h1>Burgers</h1>
        </div>
        {{#each burgers}}
        {{#unless devour_it}}
        <div class="row">
            <div class="col-1"></div>
            <div class="col-5 text-left" id="burger">
                <h3 class="text-center text-primary bg-light border border-light">{{burger_name}}</h3>
                <br>
            </div>
            <div class="col-6 text-center" id="burger">
                <button id={{id}} type="button" class="btn btn-outline-primary btn-sm update-devoured">Devour
                    It!</button>
            </div>
        </div>
        {{/unless}}
        {{/each}}
    </div>
    <div class="col-6">
        {{#each burgers}}
        {{#if devour_it}}
        <div class="row">
            <h1> Devoured Burgers</h1>
            <div class="col-12 text-center" id="eaten-burger">
                <h4 class="text-center text-danger bg-light border border-light">{{burger_name}} Devoured!
                </h4>
                <button type="button" class="btn btn-outline-primary btn-sm delete-devoured"
                    data-id="{{this.id}}">Delete</button>
            </div>
        </div>
        {{/if}}
        {{/each}}
    </div>
</div>
<div class="row text-center m-5">
    <div class="col-4"></div>
    <div class="col-4">
        <form id="enter-burger">
            <textarea id="new-burger" name="new-burger" row="4" cols="50"></textarea><br>
            <button id="submit" type="submit" class="btn btn-info mt-2">Submit</button><br>
            <label for="new-burger">
                <h3>Enter a burger you want to eat Click then select <q>Submit</q> button</h3>
            </label>
        </form>
    </div>
</div>